.predict-page {
  min-height: 90vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 1rem;
  padding-top: 5rem;
}
.predict-page .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.predict-page .form-box {
  text-align: center;
  padding: 1rem;
  width: 29rem;
  height: 15rem;
  background: #1a1a1c;
  opacity: 0.8;
  border-radius: 0.25rem;
  overflow: hidden;
  color: azure;
}
.predict-page .form-box form h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}
.predict-page .form-box .inputBox {
  position: relative;
  width: 24rem;
  margin: auto;
}
.predict-page .form-box .selectBox > select {
  width: 70%;
  height: 2rem;
  border: none;
  text-align: center;
}
.predict-page .form-box .inputBox input {
  position: relative;
  width: 100%;
  padding: 18px 10px 10px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}
.predict-page .form-box .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}
.predict-page .form-box .inputBox input:valid ~ i,
.predict-page .form-box .inputBox input:focus ~ i {
  height: 3rem;
}
.predict-page .form-box .btn-create {
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #fff;
  cursor: pointer;
  font-size: 1em;
  border-radius: 4px;
  width: 10rem;
  margin: 1rem auto;
}
.predict-page .form-box .btn-create:hover {
  color: #00ffaa !important;
  cursor: pointer;
  opacity: 0.90;
}
.predict-page .video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.predict-page #video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
@media screen and (max-width: 520px) {
  .predict-page .form-box {
    width: 22rem;
  }
  .predict-page .form-box .inputBox {
    position: relative;
    width: 20rem;
    margin: auto;
  }
}
